
<div class="order-form-container">
    <div class="order-form">
        <div class="order-form-image-container">
            <img class="order-form-image" src="~/img/orderProcessed.png" alt="orderProcessed" />
        </div>
        <h3 class="order-form-title">@ViewBag.Message</h3>
    </div>
</div>