@model RegistrationViewModel

<div class="form-sign-in-container">
    <div class="form-sign-in registration">
        <h3>Форма регистрации</h3>
        <form asp-action="Registration" method="post" class="form-container">
            <div class="form-sign-in-group" style="">
                <input placeholder="Логин(почта)" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-sign-in-group">
                <input placeholder="Пароль" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-sign-in-group">
                <input placeholder="Подтверждение пароля" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" />
            </div>

            <div class="form-sign-in-buttons">
                <input class="button form-button-sign-in" type="submit" value="Зарегистрироваться" />
                <a class="form-button-registration" asp-controller="Account" asp-action="SignIn"> Назад </a>
            </div>
        </form>
    </div>
</div>


