@model SignInViewModel

<div class="form-sign-in-container">
    <div class="form-sign-in">
        <h3>Форма входа</h3>
        <form asp-action="SignIn" method="post" class="form-container">
            <div class="form-sign-in-group" style="">
                <input placeholder="Логин(почта)" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-sign-in-group">
                <input placeholder="Пароль" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>

            <div class="form-sign-in-buttons">
                <input class="button form-button-sign-in" type="submit" value="Войти" />
                <a class="form-button-registration" asp-controller="Account" asp-action="Registration"> Регистрация </a>
            </div>
        </form>
    </div>
</div>
