<form class="admin-table-container" asp-action="AdminTable" method="post">

    <div class="admin-table-subcontainer">
        <table class="admin-table">
            <tbody class="admin-table-body">
                <tr class="admin-table-title"><th></th><th>Email</th><th>Status</th><th>Role</th></tr>
                @foreach (var user in Model.GetUsers)
                {
                    <tr class="admin-table-users">
                        <td>
                            <input type="checkbox" name="selectedUsers"
                                   id="@user.ID" value="@user.ID"
                                   class="admin-table-check-box">
                        </td>
                        <td><a asp-controller="Users" asp-action="UserPage" asp-route-userID="@user.ID">  @user.Email </a></td>
                        @{ if (!user.Unblocked)
                            {
                                <td> Blocked </td>
 }
                            else
                            {
                                <td>Unblocked</td>
} }
                        @{ if (user.RoleId == 1)
                            {
                                <td> Admin </td>
 }
                            else
                            {
                                <td>User</td>
} }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="admin-table-buttons-container">
        <div class="admin-table-button-container">
            <button class="button admin-table-button" name="button" value="Block" type="submit">Block</button>
        </div>
        <div class="admin-table-button-container">
            <button class="button admin-table-button" name="button" value="Unblock" type="submit">Unblock</button>
        </div>
        <div class="admin-table-button-container">
            <button class="button admin-table-button" name="button" value="Delete" type="submit">Delete</button>
        </div>
        <div class="admin-table-button-container">
            <button class="button admin-table-button" name="button" value="Admin" type="submit">Make an admin</button>
        </div>
    </div>

</form>